/* Used in: App.jsx */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.main-layer {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - 60px);
  overflow: hidden;
}

/* Side toggle button (☰) */
.filter-side-toggle {
  position: absolute;
  top: 60px;
  left: 350px;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(6px);
  z-index: 1002;
  transition: left 0.4s ease, right 0.4s ease;
}

/* Position when panel is collapsed */
.filter-toggle.collapsed-toggle {
  left: 10px;
}

/* Panel layout wrapper */
.filter-overlay-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 350px;
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1001;
  transition: transform 0.3s ease;
  direction: rtl;
}

.filter-overlay-panel * {
  direction: ltr;
}

/* Position of filter panel */
.filter-panel-wrapper {
  left: 0;
  border-radius: 20px;
}

/* Collapsed state */
.collapsed {
  transform: translateX(-100%);
}