


.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #222;
  color: white;
  font-family: sans-serif;
  z-index: 1005;
  position: relative;
}

.site-title {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .site-title {
    font-size: 1rem;
    font-weight:lighter;
  }
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .nav-links a {
    font-size: 1rem;
    font-weight:lighter;
  }
}