.export-side-toggle {
  position: absolute;
 right:350px;
  bottom: calc(20px + env(safe-area-inset-bottom)) !important;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(6px);
  z-index: 1004;
  transition: left 0.4s ease, right 0.4s ease;
}

.export-toggle {
  right: 350px;
}

.export-toggle.collapsed-toggle {
  right: 10px;
}

/* Panel layout wrapper */
.export-overlay-panel {
 position: absolute;
 top: 0;
  bottom: 0;
   width: 350px; 
  max-width: 350px;  
  background-color: rgba(255, 255, 255, 0.0);
  padding:20px;
  overflow-x: hidden;
  overflow-y:auto;
  z-index: 1003;
  transition: transform 0.3s ease;
}

.export-panel-wrapper {
  right: 0;
   border-radius: 20px;
}

.export-panel-wrapper.collapsed {
  transform: translateX(100%);
}

.export-preview-button {
  position: absolute;
  top: 30px;
  left: 50vw;
  transform: translateX(-50%);
  background-color: #2b7a78;
  color: white;
  padding: 10px 18px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.export-preview-button:hover {
  background-color: #205e5d;
}