.info-side-toggle {
  position: absolute;
  right:350px;
  bottom:20px;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(6px);
  z-index: 1004;
  transition: left 0.4s ease, right 0.4s ease;
}

.info-toggle {
  right: 350px;
}

.info-toggle.collapsed-toggle {
  right: 10px;
}

/* Panel layout wrapper */
.info-overlay-panel {
  position: absolute;
  top: 0;
  bottom: 0;
   width: 350px; 
  max-width: 350px; 
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1003;
  transition: transform 0.3s ease;
}

.info-panel-wrapper {
  right: 0;
  border-radius: 20px;
}

.info-panel-wrapper.collapsed {
  transform: translateX(100%);
}
