.options-panel {
     font-family: sans-serif;
  background-color: rgba(54, 164, 109, 0.2);

  padding: 15px;
  overflow:hidden;
  width: 100%;
  border: 2px solid rgb(25, 80, 59);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  color: rgb(59, 71, 63);
  box-shadow: 0 0 8px rgba(0,0,0,1);
  min-height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.options-panel h2 {
  margin-top: 20px;
  font-size: 1.4rem;
  color: rgb(0, 14, 6);
  margin-bottom:20px;
}

.options-panel h3 {
  margin-top: 1rem;
  color: rgb(0, 11, 4);
}

.options-panel ul {
  padding-left: 20px;
}

.options-panel li {
  margin-bottom: 0.3em;
}

.options-section{
  border-top:2px;
  border-bottom: 2px;
  border-color:grey;
  border-bottom-style:solid;
  padding:10px;
}

.analysis-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap:10px;
}

.analysis-buttons button {
  padding: 6px 16px;
  font-size: 0.9rem;
  background-color: #36a46d;
  color: white;
  border: 1px solid #1b5c3f;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.analysis-buttons button:hover {
  background-color: #2b8258;
}