.edit-location-panel {
      font-family: sans-serif;
  background-color: rgba(54, 164, 109, 0.2);

  padding: 15px;
  overflow:hidden;
  width: 25vw;
  border: 2px solid rgb(25, 80, 59);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  color: rgb(59, 71, 63);
  box-shadow: 0 0 8px rgba(0,0,0,1);
  min-height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.edit-location-panel label {
  display: block;
  margin-bottom: 6px;
  color: rgb(59, 71, 63);
  font-weight: 500;
  font-size: 0.9rem;
}

.edit-location-panel input {
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(93, 129, 117, 1);
  color: white;
  font-size: 0.7rem;
}

.edit-location-panel select {
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(93, 129, 117, 1);
  color: white;
  font-size: 0.7rem;
   max-height: 200px;
  overflow-y: auto;
}

 

.edit-location-panel input::placeholder {
  color: rgba(255, 255, 255, 0.5);             
}

.edit-location-panel table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  color: rgb(59, 71, 63);
  font-size: 0.7rem;
}

.edit-location-panel th:nth-child(1) {
  padding: 6px 6px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 0.7rem;
}

.edit-location-panel th:not(:nth-child(1)) {
  padding: 6px 6px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 0.7rem;
}

.edit-location-panel td:nth-child(1){
  padding: 3px 6px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.edit-location-panel td:not(:nth-child(1)){
  padding: 3px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
   text-align: center;
}

.closed-cell {
  text-align: center;
  font-style: italic;
  padding: 6px 0;
}

.edit-location-panel .inline-checkbox-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.edit-location-panel .label-container {
  display:flex;
  min-width: 200px;
  font-size: 0.9rem;
  color: rgb(59, 71, 63);
  align-items: center;
}

.edit-location-panel .checkbox-container {
  display: flex;
  align-items: center;
   transform: translateY(1px);
}
.edit-location-panel input[type="checkbox"] {
  transform: translateY(2px); 
}
.edit-location-panel .notes-cell {
  flex-grow: 1;
  font-size: 0.8rem;
  color:rgb(59, 71, 63);
  font-style: italic;
}