 .edit-score-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 52vw;             
  max-width: 90vw; 
  margin:auto;
  padding: 2vh 2vw;          
  background-color: rgba(0,0,0,0.5);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  direction: rtl;   
  backdrop-filter: blur(70px);          
}



.edit-score-overlay * {
  direction: ltr;
}

 .edit-score-modal {
  width: 50vw;
  max-width: 100%;
  font-family: sans-serif;
  background-color: rgba(54, 164, 109, 0.4);
  margin: 2vh 2vw;
  padding: 2vh 2vw;
  border: 2px solid rgb(25, 80, 59);
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .edit-score-overlay {
    width: 95vw;
  }

  .edit-score-modal {
    width: 92vw;
  }
}



/* Close Button */
.edit-score-modal .close-button {
  position: absolute;
  top: 10px;
  right: 14px;
  border: none;
  background:none;
  font-size: 1.5rem;
  color: #ff4d4d;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}


/* Labels + Inputs */
.edit-score-modal label {
  display: block;
  margin-bottom: 6px;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}

.edit-score-modal input {
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(93, 129, 117, 1);
  color: white;
  font-size: 0.7rem;
}

.edit-score-modal select {
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(93, 129, 117, 1);
  color: white;
  font-size: 0.7rem;
   max-height: 200px;
  overflow-y: auto;
}

 

.edit-score-modal input::placeholder {
  color: rgba(255, 255, 255, 0.5);             
}


.edit-score-modal table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  color: white;
  font-size: 0.7rem;
}

.edit-score-modal th:nth-child(1) {
  padding: 6px 6px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 0.7rem;
}

.edit-score-modal th:not(:nth-child(1)) {
  padding: 6px 6px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 0.7rem;
}

.edit-score-modal td:nth-child(1){
  padding: 3px 6px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.edit-score-modal td:not(:nth-child(1)){
  padding: 3px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
   text-align: center;
}

.closed-cell {
  text-align: center;
  font-style: italic;
  padding: 6px 0;
}

.edit-score-modal .inline-checkbox-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.edit-score-modal .label-container {
  display:flex;
  min-width: 200px;
  font-size: 0.9rem;
  color: white;
  align-items: center;
}

.edit-score-modal .checkbox-container {
  display: flex;
  align-items: center;
   transform: translateY(1px);
}
.edit-score-modal input[type="checkbox"] {
  transform: translateY(2px); 
}

@media (max-width: 600px) {
.edit-score-modal .inline-checkbox-row {
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}
  .edit-score-modal .label-container {
    min-width: unset;
    font-size: 1rem;
  }

  .edit-score-modal .checkbox-container {
    margin-top: 0px;
  }

}

.edit-score-modal h2 {
  font-size: 1.6rem;
}

.edit-score-modal h3 {
  font-size: 1.2rem;
}

.empty-message {
  font-style: italic;
  color: #888;
  margin-top: 1em;
}