.export-panel {
   font-family: sans-serif;
  background-color: rgba(54, 164, 109, 0.2);

  padding: 15px;
  overflow:hidden;
  width: 100%;
  border: 2px solid rgb(25, 80, 59);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  color: rgb(59, 71, 63);
  box-shadow: 0 0 8px rgba(0,0,0,1);
  min-height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}