.info-panel {
     font-family: sans-serif;
  background-color: rgba(54, 164, 109, 0.2);

  padding: 15px;
  overflow:hidden;
  width: 25vw;
  border: 2px solid rgb(25, 80, 59);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  color: rgb(59, 71, 63);
  box-shadow: 0 0 8px rgba(0,0,0,1);
  min-height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.info-panel h2 {
  margin-top: 0;
  font-size: 1.4rem;
  color: rgb(0, 14, 6);
}

.info-panel h3 {
  margin-top: 1.2em;
  color: rgb(0, 11, 4);
}

.info-panel ul {
  padding-left: 20px;
}

.info-panel li {
  margin-bottom: 0.3em;
}